<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <nav class="nav">

    <a href="/">Home</a>
    <a href="/signup">Register</a>
    <a href="/login">Login</a>
    <a href="/trips">My Trips</a>
    <a href="/groups/list">Your Crew</a>
    <a href="/trips/new-trip">Create Trip</a>
    <a href="/logout">Logout</a>
  </nav>

  <h3>Welcome {{currentUser.username}}!</h3>

  {{{body}}}


<footer>
<form action="/delete/user/{{User.id}}" method="post">
  <button>Delete Account.</button>

</form>


</footer>
  <script src="/javascripts/script.js"></script>
</body>
</html>
