body {
  padding: 50px;
  margin-top: 4vh;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7vh;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a{
  text-decoration: none;
  color: white;
  margin-right: 2.5vw;
  font-size: 1.3em;
}


.loginAndSignup{
  height: 70vh;
  width: 50vw;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 8vh;
  background-color: rgb(209, 213, 218);
}

input{
  height: 3vh;
  border-radius: 4px;
}


// write over the display box for the log in and Password

// gotta include the main page already. information about what you can do with the application and also example trips which you could take


.homeTop{
  height: 60vh;
  display: flex;
  align-items: center;
}

.item{
  height: 70vh;
}

.newTrip{
  display: column;
}
