<center>

<div class="loginAndSignup">

<h1>Signup</h1>

  <form action="/signup" method="post">

      <label>Email:</label>
      <input type="text" name="theUsername" required>

      <label>Password:</label>
      <input type="password" name="thePassword">

      <button>Submit</button>

  </form>

</div>
</center>


{{!-- ^^^^^^^^ everything from the top is the original form with my own css --}}


{{!-- everything below is a bootstrap register form  --}}



{{!--

<div class="container">

<form class="text-center border border-light p-5" action="/signup" method="post">

    <h2>Sign Up</h2>
    <br>

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <label>Email:</label>
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Email" name="theUsername">
        </div>
    </div>


    <!-- Password -->
    <label>Password:</label>
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" name="thePassword">




    <!-- Sign up button -->
    <br />
    <button class="btn">Register</button>



</form>
</div> --}}
