<body>

<div class="container">


  <h1>Welcome!</h1>

  <h2>Destination: {{theTripId.destination}}</h2>
  <h3>Description: {{theTripId.description}}</h3>
  <h3><b>From:</b> {{theTripId.startDate}} <b>To:</b> {{theTripId.endDate}}</h3>




</div>

</body>
