<body>

<div class="container newTrip">


<h1>Create new trip!</h1>

<form class="" action="/trips/create" method="post">

  <label>Destination:</label>
  <input type="text" name="theDestination">

  <label>Description:</label>
  <input type="text" name="theDescription">

  <label>Start-Date:</label>
  <input type="Date" name="theStartDate">

  <label>End-Date:</label>
  <input type="Date" name="theEndDate">

  <button>Submit</button>

</form>
</div>

</body>
